* {
    margin: 0;
    padding: 0;
}

body {
  /* background-size: 50% auto; */
    font-family: 'Crimson Text', serif;
    background-image: url('../Media/backgr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin: 5%;
    padding: 5%;
    background-color: rgb(206, 119, 119, 0.4);
    text-align: center;

}

h1 {
    font-size: 3em;
    color:rgba(88, 19, 19)
}

#result {
    display: flex;
    justify-content: space-around;
}

.group {
    display: flex;
    width: 250px;
    background-color: rgba(168, 84, 84, 0.8);
    
}

ul {
    list-style: none;
    border:rgba(180, 76, 76, 0.8)
    margin: 0.2em;
}

label {
    font-size: 1.5em;
}

button {
    display:inline-block;
    padding:0.5em 2em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    color:#581919;
    text-align:center;
    transition: all 0.15s;
}

button:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
}
button:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}
